<%= render "layouts/nav_bar" %>

<% @in_type = "login" %>

<%= render partial: "layouts/in_form", locals: { in_type:  @in_type} %>

</br>
<div class="redirect-form">
  <h3>No Account Yet?</h3>
  <div class="text">That's okay, we still love you.</div>
  <br>
  <%= button_to "Sign Up", signup_url, method:"get", class:"btn btn-default" %>
  <h3>Sign in as Guest??</h3>
  <form action = "<%= session_url %>", method = "post">
    <%= auth_token_input %>
    <input type="hidden" name="user[username]" value="guestBarista1">
    <input type="hidden" name="user[password]" value="asdfasdf">
    <button type="submit" class="btn btn-default">Guest Login</button>
  </form>
</div>
