<div id="wrapper">
  <%= render "layouts/nav_bar" %>
  <div className="main-container container-fluid">
    <% @in_type = "signup" %>

    <div id="in-left">
      <%= render partial: "layouts/in_form", locals: { in_type:  @in_type} %>
    </div>

    <div id="in-right">
      <div class="redirect-form">
        <h1>Have An Account?</h1>
        Welcome back! Come and make some new reviews and find new coffee shops.
        <br>
        <br>
        
        <%= button_to "Log In", login_url, method:"get", class:"btn btn-default" %>
      </br>
      </br>
        <h4>Want to check out how our site works no commitment?</h4>
        <form action = "<%= session_url %>", method = "post">
          <%= auth_token_input %>
          <input type="hidden" name="user[username]" value="guestBarista1">
          <input type="hidden" name="user[password]" value="asdfasdf">
          <button type="submit" class="btn btn-default">Login as a Guest</button>
        </form>
      </div>
    </div>
  </div>
  <footer class="footer-in-page group">

    <small class="footer-copy">
      {"© 2016 Po'Tart All rights reserved."}
    </small>

    <ul class="footer-links group">
      <li><a onClick={this.handleClick} href="/#/stores/">Search</a></li>
      <li><a onClick={this.handleClick} href="/#/">Home</a></li>
      <li><a onClick={this.handleClick} href="/#/about/">About</a></li>

    </ul>

  </footer>
</div>
