<!DOCTYPE html>
<html>
  <head>
    <title>RecD</title>
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
    <link rel="stylesheet" type="text/css" href="https://fonts.googleapis.com/css?family=Raleway">
    <%= javascript_include_tag "https://maps.googleapis.com/maps/api/js?keyAIzaSyBHHo2ma24Z8c5EJB6OXn2dFY9fNVLZSPQ" %>
    <%= csrf_meta_tags %>
    <%= javascript_include_tag 'application' %>

  </head>
  <body>
    <%= yield %>

  </body>
</html>
